/* ნავიგაცია */
.background{
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 1008px;
}
.background-img{
	height: 100%;
	width: 100%;
}

.logo-image{
	width: 148px;
    height: 40px;
}
.container{
	max-width: 1414px;
	width: 100%;
	margin: 0 auto;
	padding: 60px 5px;
}
.menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.menu-ul{
	display: flex;
	align-items: center;
}
.menu-ul-li{
	margin-right: 40px;
	font-size: 14px;
}
.menu-ul-li-a{
	color: white;
}

.menu-wrapper{
	display: flex;
	justify-content: center;
    align-items: center;
}
.nav-button{
	display: none;
	width: 41px;
}
.line{
	width: 37px;
    height: 6px;
    background-color: white;
    margin-bottom: 5px;
}

.button{
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	width: 135px;
    height: 36px;
	background-color: rgba(20, 180, 92, 1);
	font-size: 13px;
}
.button a{
	color: white;
}
.menu-ul-li::after{
	content: "";
	display: block;
	height: 4px;
	width: 0%;
	background-color: white;
	transition: all 0.5s 0.2s;
	
}
.menu-ul-li:hover::after{
	content: "";
	display: block;
	height: 4px;
	width: 100%;
	background-color: white;
}

/* ნავიგაცია */


/* ინტრო */
.intro{
	display: flex;
	justify-content: left;
	margin-top: 100px;
}
.mobile-images-wrapper{
	position: relative;
    height: 701px;
	width: 557px;
}
.mobile1{
	height: 701px;
	width: 340px;
	background-color: white;
	border: 10px solid white;
	border-radius: 41px;
	position: absolute;
	left: 185px;
    bottom: 40px;
    z-index: 2;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.mobile2{
	height: 701px;
	width: 340px;
	position: absolute;
	top: 29px;
    left: 30px;
}
.intro-text-wrapper{
	display: flex;
    justify-content: space-between;
	align-items: center;
}
.intro-text-wrapper{
	margin-left: 52px;
}
.intro-text h1{
	font-size: 40px;
	color: white;
}
.intro-text h3{
	font-size: 16px;
	color: rgb(196, 196, 196);
	margin-top: 30px;
}
.buttons{
	display: flex;
	align-items: center;
	margin-top: 33px;
}
.button1{
	font-weight: bold;
	height: 36px;
    width: 147px;
    border-radius: 13px;
    color: white;
    background-color: #65ff65ba;
    border: none;
}
.buttons-a::before{
	content: url("../image/Shape.svg");
	margin-right: 9px;
}
.buttons-a{
	font-family: fantasy;
	margin-left: 31px;
	display: flex;
	align-items: center;
	color:white;
}
/* ინტრო */

.info h2{
	font-size: 34px;
	color: rgba(28, 31, 40, 1);
	text-align: center;
	margin-bottom: 159px
}
.info-box{
	width: 420px;
	display: inline-block;
}
.info-box *{
	text-align: center;
}
.info-box h3{
	font-size: 24px;
	color:rgba(28, 31, 40, 1);
	margin-bottom: 24px
}
.info-box p{
	font-size: 16px;
	color: rgba(161, 164, 172, 1);
}
.info-box img{
	margin: 0 auto;
	display: block;
	margin-bottom: 27px;
}
.main-box-wrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.info-box:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition: all 0.3s 0.3s;
}



@media (max-width: 1025px){
	.menu-wrapper{
		display: none;
	}
	.nav-button{
		display: block;
	}
	.mobile-images-wrapper{
		display: none;
	}
	.container{
		margin-top: 400px;
	}
	.info-box{
		margin-bottom: 40px;
	}
}